@font-face {
    font-family: ObviouslyVariable;
    src: url('https://use.typekit.net/af/94379b/0000000000000000774b907c/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3');
}

:root {
    --couleur-texte: #2a292b;
    --color-bg: #f9f4ed;
    --color-bouton: #ff5c00;
    --hauteur-entete: 5rem;
    --border-radius: 1.25rem;
    --espacement: 0.75rem
    --bold : bold
}
@font-face {
    font-family : 'Roboto';
    src: url("../assets/fonts/Roboto.ttf");
}
header {
    height: var(--hauteur-entete);
    background-color: var(--color-bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family : 'Roboto';
}

#header-left {
    width: 120px;
    height: 50px;
    display: flex;
    align-items: center;
}
header-left ul:first-child {
    font-weight: var(--bold);
}

a {
    color : black ;
    text-decoration : none;
}
    

header ul {
    display: flex;
    flex-flow: row nowrap;
    gap: 1rem;
    list-style-type: none;
    padding-left: 0;
}

#header-right {
    display: flex;
    align-items: center;
    gap: 1rem;
}
* {
    box-sizing: border-box;
}
main {
    height: 85vh;
    background-color: var(--color-bg);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    position: relative;
    border-radius: var(--border-radius);
}
video {
    height : 35vh;
    border-radius: var(--border-radius);
    width: 100%;
    height: 100%;
    object-fit: cover;
}
body {
    font-family :"Roboto";
}
h1 {
    font-family: "ObviouslyVariable";
    font-size : 10vh;
}
text {
    font-size : 1.25rem;
}
button {
    gap : 1rem;
    display: flex;
    background-color: var(--color-bouton);
    color: var(--color-bg);
    border: none;
    border-radius: var(--border-radius);
    padding: 1rem 2rem;
    font-size: 1rem;
    cursor: pointer;
    font-weight: bold;
}
#stars {
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    gap: 0.5rem;
}